body {
  margin: 0;
}

.page {
  margin-bottom: 9rem;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1 {
  font-size: 3.2rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
}

h2 {
  font-size: 2.4rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
}

p {
  font-size: 1.6rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
}

a {
  font-size: 1.6rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

.tabbar {
  display: block;
  background: url("../../img/nav.svg") no-repeat;
  background-position: center;
  height: 9rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 99999;
}

.tabbar__nav-link {
  position: absolute;
  width: 3rem;
  height: 2.4rem;
}

.tabbar__nav-link--home {
  background: url("../../img/home-passive.svg") no-repeat;
  bottom: 1.8rem;
  left: 2.5rem;
}

.tabbar__nav-link--info {
  background: url("../../img/info-passive.svg") no-repeat;
  bottom: 1.8rem;
  left: 11rem;
}

.tabbar__nav-link--add-item {
  width: 5rem;
  height: 5rem;
  left: 18.1rem;
  bottom: 2.8rem;
  border-radius: 5rem;
}

.tabbar__nav-link--map {
  background: url("../../img/map-passive.svg") no-repeat;
  bottom: 1.8rem;
  right: 11rem;
}

.tabbar__nav-link--profile {
  background: url("../../img/profile-passive.svg") no-repeat;
  bottom: 1.8rem;
  right: 2.5rem;
}

.btn__small {
  width: 10rem;
  height: 5rem;
  border-radius: 5rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fefcfa;
  color: #ffa17a;
  border: 0.2rem solid #ffa17a;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.btn__large {
  width: 27rem;
  height: 6rem;
  border-radius: 5rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffa17a;
  color: #fefcfa;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px #0000001f, 0px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px #0000001f, 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.btn__large--white {
  background: #fefcfa;
  color: #007663;
}

button {
  border-style: none;
}

.intro {
  background: #007663;
  height: 100vh;
  padding: 5rem;
  text-align: center;
}

.intro__title {
  color: #fefcfa;
}

.intro__description {
  color: #fefcfa;
}

.intro__description span {
  color: #ffa17a;
}

.intro__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5rem;
}

.intro__logo {
  margin-left: -3rem;
}

.intro__buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  margin-top: 6rem;
}

.signup {
  background: #fefcfa;
  height: 100vh;
  padding: 5rem;
}

.signup__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5rem;
}

.signup__logo {
  margin-left: -3rem;
  width: 16rem;
}

.signup__form-container {
  padding-top: 8rem;
}

.signup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup__form input {
  border-style: none;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-left: 0.1rem solid rgba(0, 0, 0, 0.3);
  color: #353535;
  width: 32rem;
  height: 3rem;
  margin-bottom: 3rem;
  padding-left: 2rem;
  font-family: "Roboto";
  font-style: medium;
  font-size: 1.6rem;
}

.signup__form input:focus {
  outline: 0;
  border-bottom: 0.2rem solid #00a987;
  border-left: 0.2rem solid #00a987;
}

.signup__form input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.signup__form input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.signup__form input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.signup__form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.signup__button {
  margin-top: 5rem;
}

.signup__login-text {
  text-align: center;
}

.signup__login-link {
  color: #ffa17a;
}

.login {
  background: #fefcfa;
  height: 100vh;
  padding: 5rem;
}

.login__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5rem;
}

.login__logo {
  margin-left: -3rem;
  width: 20rem;
}

.login__form-container {
  padding-top: 18rem;
}

.login__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__form input {
  border-style: none;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-left: 0.1rem solid rgba(0, 0, 0, 0.3);
  color: #353535;
  width: 32rem;
  height: 3rem;
  margin-bottom: 3rem;
  padding-left: 2rem;
  font-family: "Roboto";
  font-style: medium;
  font-size: 1.6rem;
}

.login__form input:focus {
  outline: 0;
  border-bottom: 0.2rem solid #00a987;
  border-left: 0.2rem solid #00a987;
}

.login__form input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.login__form input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.login__form input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.login__form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.login__button {
  margin-top: 5rem;
}

.login__signup-text {
  text-align: center;
}

.login__signup-link {
  color: #ffa17a;
}

.feed__title-container {
  width: 100vw;
  height: 8rem;
  background: #007663;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feed__title {
  margin-left: 2.5rem;
  color: #fefcfa;
}

.feed__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2.5rem;
}

.feed__more {
  color: #00a987;
}

.feed__items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 3rem;
}

.feed__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 10rem;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feed__container {
  margin-bottom: 5rem;
}

.info {
  height: 100%;
  background: #fefcfa;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.info__topBar {
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-padding-start: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.tab {
  width: 150px;
  padding: 20px 0;
  background: white;
  color: #607d8b;
  overflow: hidden;
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.indicator {
  width: 150px;
  height: 3px;
  background: #007663;
  position: absolute;
  margin-top: 58px;
  margin-left: 0;
  -webkit-transition: margin 0.5s ease;
  transition: margin 0.5s ease;
}

a:link {
  text-decoration: none !important;
}

.cercle {
  width: 0px;
  height: 0px;
  position: absolute;
}

.light .cercle {
  background: white;
}

.dark .cercle {
  background: #353535;
}

.anim {
  opacity: 0.2;
  -webkit-animation: touch 1.2s ease-out;
  animation: touch 1.2s ease-out;
}

@-webkit-keyframes touch {
  100% {
    width: 600px;
    height: 600px;
    border-radius: 600px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    margin: -300px;
  }
}

@keyframes touch {
  100% {
    width: 600px;
    height: 600px;
    border-radius: 600px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    margin: -300px;
  }
}

.container {
  /* Used to position the faded element */
  position: relative;
}

.container__content {
  /* Height */
  height: 823px;
  margin: auto 25px auto 25px;
}

.news {
  height: 100%;
  background: #fefcfa;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.news__topBar {
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-padding-start: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.tab {
  width: 150px;
  padding: 20px 0;
  background: white;
  color: #607d8b;
  overflow: hidden;
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.indicator {
  width: 150px;
  height: 3px;
  background: #007663;
  position: absolute;
  margin-top: 58px;
  margin-left: 0;
  -webkit-transition: margin 0.5s ease;
  transition: margin 0.5s ease;
}

a:link {
  text-decoration: none !important;
}

.cercle {
  width: 0px;
  height: 0px;
  position: absolute;
}

.light .cercle {
  background: white;
}

.dark .cercle {
  background: #353535;
}

.anim {
  opacity: 0.2;
  -webkit-animation: touch 1.2s ease-out;
  animation: touch 1.2s ease-out;
}

@-webkit-keyframes touch {
  100% {
    width: 600px;
    height: 600px;
    border-radius: 600px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    margin: -300px;
  }
}

@keyframes touch {
  100% {
    width: 600px;
    height: 600px;
    border-radius: 600px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    margin: -300px;
  }
}

.tips {
  height: 100%;
  background: #fefcfa;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.tips__topBar {
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-padding-start: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.tab {
  width: 150px;
  padding: 20px 0;
  background: white;
  color: #607d8b;
  overflow: hidden;
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.indicator {
  width: 150px;
  height: 3px;
  background: #007663;
  position: absolute;
  margin-top: 58px;
  margin-left: 0;
  -webkit-transition: margin 0.5s ease;
  transition: margin 0.5s ease;
}

a:link {
  text-decoration: none !important;
}

.cercle {
  width: 0px;
  height: 0px;
  position: absolute;
}

.light .cercle {
  background: white;
}

.dark .cercle {
  background: #353535;
}

.anim {
  opacity: 0.2;
  -webkit-animation: touch 1.2s ease-out;
  animation: touch 1.2s ease-out;
}

@-webkit-keyframes touch {
  100% {
    width: 600px;
    height: 600px;
    border-radius: 600px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    margin: -300px;
  }
}

@keyframes touch {
  100% {
    width: 600px;
    height: 600px;
    border-radius: 600px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    margin: -300px;
  }
}

.aroundyou__title-container {
  width: 100vw;
  height: 8rem;
  background: #007663;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aroundyou__title {
  margin-left: 2.5rem;
  color: #fefcfa;
}

.aroundyou__items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aroundyou__item-container {
  width: 50%;
  margin-bottom: 2rem;
  position: relative;
}

.aroundyou__item-details {
  text-align: center;
  margin: 0;
}

.aroundyou__item-expiration {
  position: absolute;
  top: 10%;
  right: 8%;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  background: #fefcfa;
  font-size: 1.6rem;
  font-style: normal;
  color: #00a987;
}

.item__image-container {
  width: 100vw;
}

.item__info-container {
  margin: 0 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item__image {
  width: 100%;
}

.item__title {
  color: #007663;
  margin-bottom: 0;
}

.item__posted-time {
  margin-top: 1rem;
}

.item__posted-time span {
  color: #00a987;
  font-weight: 700;
}

.item__price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__price-container h2 {
  margin: 0;
}

.item__container {
  margin: 0 2.5rem;
}

.item__button {
  margin-top: 1rem;
  margin: 0 auto;
}

.additem__title-container {
  width: 100vw;
  height: 8rem;
  background: #007663;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.additem__title {
  margin-left: 2.5rem;
  color: #fefcfa;
}

.additem__form-container {
  margin: 0 2.5rem;
}

.additem__form input[type="text"],
.additem__form input[type="textarea"] {
  border-style: none;
  color: #353535;
  width: 100%;
  height: 5rem;
  margin-bottom: 2.5rem;
  margin-top: 4.5rem;
  padding-left: 2rem;
  font-family: "Roboto";
  font-style: medium;
  font-size: 1.6rem;
  background: #fefcfa;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.additem__form input[type="text"]:focus,
.additem__form input[type="textarea"]:focus {
  outline: 0;
  border: 0.2rem solid #00a987;
}

.additem__form input[type="text"]::-webkit-input-placeholder,
.additem__form input[type="textarea"]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.additem__form input[type="text"]:-ms-input-placeholder,
.additem__form input[type="textarea"]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.additem__form input[type="text"]::-ms-input-placeholder,
.additem__form input[type="textarea"]::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.additem__form input[type="text"]::placeholder,
.additem__form input[type="textarea"]::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.additem__form input[type="textarea"] {
  margin-bottom: 2.5rem;
  margin-top: 0;
  height: 15rem;
  resize: none;
}

.additem__form textarea {
  border-style: none;
  color: #353535;
  width: 100%;
  height: 20rem;
  padding-left: 1.8rem;
  padding-top: 2rem;
  font-family: "Roboto";
  font-style: medium;
  font-size: 1.6rem;
  background: #fefcfa;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.additem__form textarea:focus {
  outline: 0;
  border: 0.2rem solid #00a987;
}

.additem__form textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.additem__form textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.additem__form textarea::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.additem__form textarea::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.additem__form input[type="file"] {
  border-style: none;
}

.additem__allergens-container {
  margin: 0 2.5rem;
}

.additem__allergens-title {
  margin-top: 3rem;
}

.additem__search-container input[type="search"] {
  border-style: none;
  color: #353535;
  width: 100%;
  height: 5rem;
  margin-bottom: 2.5rem;
  padding-left: 2rem;
  font-family: "Roboto";
  font-style: medium;
  font-size: 1.6rem;
  background: #fefcfa;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.additem__search-container input[type="search"]:focus {
  outline: 0;
  border: 0.2rem solid #00a987;
}

.additem__button {
  margin: 0 auto;
}

.profile__title-container {
  width: 100vw;
  height: 8rem;
  background: #007663;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2.5rem;
}

.profile__title {
  color: #fefcfa;
}

.profile__info-container {
  margin: 3rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile__edit-button {
  color: #ffa17a;
}

.profile__text-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile__image {
  width: 17rem;
}

.profile__preferences-container {
  margin: 0 2.5rem;
}

.profile__preferences-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.profile__preference {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.2rem 2rem;
  background: #007663;
  color: #fefcfa;
  text-align: center;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  margin-right: 1.5rem;
}

.profile__posts-title {
  margin: 0 2.5rem;
}

.profile__posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.editprofile__title-container {
  width: 100vw;
  height: 8rem;
  background: #007663;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2.5rem;
}

.editprofile__save-button {
  margin-top: 1rem;
}

.editprofile__title {
  color: #fefcfa;
}

.editprofile__image {
  margin-bottom: 3rem;
}

.editprofile__info-container {
  margin: 3rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.editprofile__form input[type="text"] {
  margin-bottom: 2rem;
  border-style: none;
  color: #353535;
  width: 100%;
  height: 5rem;
  padding-left: 2rem;
  font-family: "Roboto";
  font-style: medium;
  font-size: 1.6rem;
  background: #fefcfa;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.editprofile__form input[type="text"]:focus {
  outline: 0;
  border: 0.2rem solid #00a987;
}

.editprofile__form input[type="text"]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.editprofile__form input[type="text"]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.editprofile__form input[type="text"]::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.editprofile__form input[type="text"]::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.editprofile__preferences-container {
  margin: 0 2.5rem;
}

.editprofile__search-container input[type="search"] {
  border-style: none;
  color: #353535;
  width: 100%;
  height: 5rem;
  margin-bottom: 2.5rem;
  padding-left: 2rem;
  font-family: "Roboto";
  font-style: medium;
  font-size: 1.6rem;
  background: #fefcfa;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.editprofile__search-container input[type="search"]:focus {
  outline: 0;
  border: 0.2rem solid #00a987;
}

.preferences__title-container {
  width: 100vw;
  height: 8rem;
  background: #007663;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preferences__title {
  margin-left: 2.5rem;
  color: #fefcfa;
}

.preferences__subtitle {
  margin-left: 2.5rem;
  margin-top: 3.5rem;
}

.preferences__dietary-container, .preferences__allergies-container {
  margin: 0 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #fefcfa;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
  overflow-y: scroll;
  height: 28vh;
}

.preferences__dietary-preference, .preferences__allergy-preference {
  height: 5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fefcfa;
  color: #007663;
  border: 0.2rem solid #007663;
  margin-bottom: 1.5rem;
  border-radius: 5rem;
  padding: 1.2rem 2rem;
  margin-right: 2.5rem;
}

.preferences__preference-title {
  margin-left: 1rem;
}

.preferences__button {
  margin: 0 auto;
  margin-top: 3rem;
}

.checkout__title-container {
  width: 100vw;
  height: 8rem;
  background: #007663;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout__title {
  margin-left: 2.5rem;
  color: #fefcfa;
}

.checkout__logo-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkout__logo {
  width: 10rem;
  margin: 3rem 0;
  margin-left: -2rem;
}

.checkout__text-container {
  margin: 0 2.5rem;
  text-align: center;
}

.checkout__text-subtitle {
  margin-top: 3rem;
}

.checkout__payment-container {
  margin: 4rem 2.5rem 9rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checkout__payment-method {
  background: #fefcfa;
  -webkit-filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25)) drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25)) drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
  border-radius: 0.5rem;
  width: 14rem;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 2rem;
}

.checkout__payment-logo {
  width: 20rem;
}

.checkout__button-container {
  width: 100%;
}

.checkout__return-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffa17a;
}

.map__container {
  width: 100vw;
  height: 91vh;
}
/*# sourceMappingURL=main.css.map */